.videoplaylist .video-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
}

.videoplaylist .video-placeholder > * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.videoplaylist[data-embed-loaded='true'] .video-placeholder,
.videoplaylist[data-embed-loaded='false'] .video-placeholder + * {
  visibility: hidden;
  height: 0;
  width: 0;
}

.videoplaylist .video-placeholder picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoplaylist .video-placeholder-play button {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: 2px solid;
  padding: 0;
}

.videoplaylist .video-placeholder-play button::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 24px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 18px solid;
  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%);
}
